.card {
    padding: 10px;
}

body {
/*    background-color: #C2AC80;*/
    color: black !important;
}

.bg-info {
/*    background-color: #A4825E !important;*/
}

.card {
/*    background: #A4825E;*/
/*    color: white;*/
}

.btn-info {
/*    background-color: #C2AC80 !important;*/
    color: #000000 !important;
}

.btn-danger {
/*    background-color: #856165;*/
    color: black !important;
}

.card-columns {
    border: 5px solid black;
    margin: 5px;
    padding: 3px;
}

.section-title {
    margin: 5px;
    font-weight: 650;
}

.modal-content {
/*    background: #A4825E;*/
    color: white;
}

.form-control:enabled {
/*    background: #C2AC80;*/
    color: black;
}

.form-control:disabled {
/*    background: #856165;*/
}

.text-muted {
    color: #c5cfe0 !important;
}

#NewCreationMenu {
    color: white !important;
}
